{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <!-- Navbar -->
    <nav
            class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl"
            id="navbarBlur"
            data-scroll="false"
    >
        <div class="container-fluid py-1 px-3 pt-0">
            <nav aria-label="breadcrumb">
                <ol
                        class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5"
                >
                    <li class="breadcrumb-item text-sm">
                        <a class="opacity-5 text-white" href="{% url 'dashboard' %}">Bosh Sahifa</a>
                    </li>
                    <li class="breadcrumb-item text-sm">
                        <a class="opacity-5 text-white" href="{% url 'user_list' %}">Foydalanuvchilar</a>
                    </li>
                    <li
                            class="breadcrumb-item text-sm text-white active"
                            aria-current="page"
                    >
                        1-darajali foydalanuvchi
                    </li>
                </ol>
            </nav>
        </div>
    </nav>


    <main class="main-content position-relative border-radius-lg">
        <div class="row">
            <div class="col-12 responsive-div">
                <!-- Notification -->
                {% if success_message %}
                    <div id="successAlert" class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ success_message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <script>
                        setTimeout(function () {
                            document.getElementById("successAlert").style.display = "none";
                        }, 3000);
                    </script>
                {% endif %}
                <div class="card mb-4 mt-4 mx-3">
                    <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                        <h6>Foydalanuvchilar Ro‘yxati</h6>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#addUserModal">
                            Yangi Foydalanuvchi Qo‘shish
                        </button>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="mx-3">
                            <select id="limitSelect" class="form-select w-150 pe-5  d-inline-block">
                                <option value="10" {% if request.GET.limit == "10" %}selected{% endif %}>10</option>
                                <option value="20" {% if request.GET.limit == "20" %}selected{% endif %}>20</option>
                                <option value="30" {% if request.GET.limit == "30" %}selected{% endif %}>30</option>
                            </select>
                        </div>
                        <label for="searchInput"></label><input type="text" id="searchInput"
                                                                class="form-control w-15 me-4"
                                                                placeholder="Qidirish...">
                    </div>

                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table id="userTable" class="table align-items-center justify-content-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Foydalanuvchi Nomi
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Passport Raqami
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Rol
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Status
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Filial
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Yaratilgan Vaqt
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Harakatlar
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2">
                                                <div class="my-auto">
                                                    <h6 class="mb-0 mx-3 text-sm">{{ user.username }}</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-sm font-weight-bold mb-0">{{ user.passport_number }}</p>
                                        </td>
                                        <td>
                                            <p class="text-sm font-weight-bold mb-0">{{ user.get_role_display }}</p>
                                        </td>
                                        <td>
                                        <span class="text-xs font-weight-bold {% if user.user_status == 'active' %}text-success{% elif user.user_status == 'block' %}text-danger{% else %}text-warning{% endif %}">
                                            {{ user.get_user_status_display }}
                                        </span>
                                        </td>
                                        <td>
                                            <p class="text-sm font-weight-bold mb-0">{{ user.branch.name|default:"--" }}</p>
                                        </td>
                                        <td>
                                            <p class="text-sm font-weight-bold mb-0">{{ user.created_at|date:"Y-m-d H:i" }}</p>
                                        </td>
                                        <td class="align-middle">
                                            <button class="btn btn-warning btn-sm" data-bs-toggle="modal"
                                                    data-bs-target="#editUserModal{{ user.id }}">Tahrirlash
                                            </button>
                                            <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                                    data-bs-target="#deleteUserModal{{ user.id }}">O‘chirish
                                            </button>
                                        </td>
                                    </tr>

                                    <!-- Tahrirlash Modal -->
                                    <div class="modal fade" id="editUserModal{{ user.id }}" tabindex="-1"
                                         aria-labelledby="editUserModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header d-flex justify-content-center">
                                                    <h5 class="modal-title text-center">Foydalanuvchini Tahrirlash</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="POST" action="{% url 'user1_edit' user.id %}">
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="mb-3 col-6">
                                                                <label for="username" class="form-label">Foydalanuvchi
                                                                    Nomi</label>
                                                                <input type="text" class="form-control" id="username"
                                                                       name="username"
                                                                       value="{{ user.username }}" required>
                                                            </div>
                                                            <div class="mb-3 col-6">
                                                                <label for="passport_number" class="form-label">Passport
                                                                    Raqami</label>
                                                                <input type="text" class="form-control"
                                                                       id="passport_number"
                                                                       name="passport_number"
                                                                       value="{{ user.passport_number }}" required>
                                                            </div>
                                                            <div class="mb-3 col-6">
                                                                <label for="password" class="form-label">Parol</label>
                                                                <input type="password" class="form-control"
                                                                       id="password"
                                                                       name="password"
                                                                       placeholder="Yangi parolni kiriting">
                                                            </div>
                                                            <div class="mb-3 col-6">
                                                                <label for="is_active" class="form-label">Foydalanuvchi
                                                                    Faollik Holati</label>
                                                                <select class="form-select" id="is_active"
                                                                        name="is_active">
                                                                    <option value="True"
                                                                            {% if user.is_active %}selected{% endif %}>
                                                                        Ha
                                                                    </option>
                                                                    <option value="False"
                                                                            {% if not user.is_active %}selected{% endif %}>
                                                                        Yo‘q
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <div class="mb-3 col-6">
                                                                <label for="is_superuser" class="form-label">Superuser
                                                                    Holati</label>
                                                                <select class="form-select" id="is_superuser"
                                                                        name="is_superuser">
                                                                    <option value="True"
                                                                            {% if user.is_superuser %}selected{% endif %}>
                                                                        Ha
                                                                    </option>
                                                                    <option value="False"
                                                                            {% if not user.is_superuser %}selected{% endif %}>
                                                                        Yo‘q
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <div class="mb-3 col-6">
                                                                <label for="is_staff" class="form-label">Admin Panelga
                                                                    Kirish</label>
                                                                <select class="form-select" id="is_staff"
                                                                        name="is_staff">
                                                                    <option value="True"
                                                                            {% if user.is_staff %}selected{% endif %}>Ha
                                                                    </option>
                                                                    <option value="False"
                                                                            {% if not user.is_staff %}selected{% endif %}>
                                                                        Yo‘q
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <div class="mb-3 col-6">
                                                                <label for="role" class="form-label">Rol</label>
                                                                <select class="form-select" id="role" name="role"
                                                                        required>
                                                                    {% for role, display in user.ROLE_CHOICES %}
                                                                        <option value="{{ role }}"
                                                                                {% if user.role == role %}selected{% endif %}>{{ display }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>

                                                            <div class="mb-3 col-6">
                                                                <label for="branch" class="form-label">Filial</label>
                                                                <select class="form-select" id="branch" name="branch"
                                                                        required>
                                                                    {% for branch in branches %}
                                                                        <option value="{{ branch.id }}"
                                                                                {% if user.branch and user.branch.id == branch.id %}selected{% endif %}>
                                                                            {{ branch.name }}
                                                                        </option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="mb-3 col-6">
                                                                <label for="user_status"
                                                                       class="form-label">Status</label>
                                                                <select class="form-select" id="user_status"
                                                                        name="user_status" required>
                                                                    {% for status, display in user.USER_STATUS_CHOICES %}
                                                                        <option value="{{ status }}"
                                                                                {% if user.user_status == status %}selected{% endif %}>{{ display }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex justify-content-end">
                                                            <button type="submit" class="btn btn-success">Saqlash
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- O‘chirish Modal -->
                                    <div class="modal fade" id="deleteUserModal{{ user.id }}" tabindex="-1"
                                         aria-labelledby="deleteUserModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Foydalanuvchini O‘chirish</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Haqiqatan ham <b>{{ user.username }}</b> ni o‘chirmoqchimisiz?
                                                    </p>
                                                    <form method="POST" action="{% url 'user1_delete' user.id %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-danger">O‘chirish</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <tr>
                                        <td colspan="7" class="text-center text-muted">Hozircha foydalanuvchilar mavjud
                                            emas
                                        </td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Sahifalash -->
                    <div class="d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item {% if not users.has_previous %}disabled{% endif %}">
                                    <a class="page-link"
                                       href="{% if users.has_previous %}?page={{ users.previous_page_number }}&limit=
                                           {{ request.GET.limit }}{% else %}#{% endif %}">
                                        <i class="fas fa-chevron-left"></i>
                                    </a>
                                </li>
                                {% for num in users.paginator.page_range %}
                                    <li class="page-item {% if users.number == num %}active{% endif %}">
                                        <a class="page-link text-primary font-weight-bold"
                                           href="?page={{ num }}&limit={{ request.GET.limit }}">{{ num }}</a>
                                    </li>
                                {% endfor %}
                                <li class="page-item {% if not users.has_next %}disabled{% endif %}">
                                    <a class="page-link"
                                       href="{% if users.has_next %}?page={{ users.next_page_number }}&limit=
                                           {{ request.GET.limit }}{% else %}#{% endif %}">
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>


            </div>
        </div>
    </main>

    <!-- Yangi foydalanuvchi qo‘shish uchun modal -->
    <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUserModalLabel">Yangi Foydalanuvchi Qo‘shish</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'user1_create' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="mb-3 col-6">
                                <label for="{{ form.username.id_for_label }}" class="form-label">Foydalanuvchi
                                    Nomi</label>
                                {{ form.username }}
                            </div>
                            <div class="mb-3 col-6">
                                <label for="{{ form.passport_number.id_for_label }}" class="form-label">Passport
                                    Raqami</label>
                                {{ form.passport_number }}
                            </div>
                            <div class="mb-3 col-6">
                                <label for="{{ form.password.id_for_label }}" class="form-label">Parol</label>
                                {{ form.password }}
                            </div>
                            <div class="mb-3 col-6">
                                <label for="{{ form.is_active.id_for_label }}" class="form-label">Faolmi?
                                    (Ha/Yo‘q)</label>
                                {{ form.is_active }}
                            </div>
                            <div class="mb-3 col-6">
                                <label for="{{ form.is_superuser.id_for_label }}" class="form-label">Superuser?
                                    (Ha/Yo‘q)</label>
                                {{ form.is_superuser }}
                            </div>
                            <div class="mb-3 col-6">
                                <label for="{{ form.is_staff.id_for_label }}" class="form-label">Admin Panelga Kirish
                                    Huquqi? (Ha/Yo‘q)</label>
                                {{ form.is_staff }}
                            </div>
                            <div class="mb-3 col-6">
                                <label for="{{ form.role.id_for_label }}" class="form-label">Rol</label>
                                {{ form.role }}
                            </div>
                            <div class="mb-3 col-6">
                                <label for="{{ form.branch.id_for_label }}" class="form-label">Filial</label>
                                {{ form.branch }}
                            </div>
                            <div class="mb-3 col-6">
                                <label for="{{ form.user_status.id_for_label }}" class="form-label">Foydalanuvchi
                                    Statusi</label>
                                {{ form.user_status }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-success ">Qo‘shish</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script>
        document.getElementById('limitSelect').addEventListener('change', function () {
            let selectedLimit = this.value;
            let url = new URL(window.location.href);
            url.searchParams.set('limit', selectedLimit);
            window.location.href = url.toString();
        });
        document.getElementById("searchInput").addEventListener("keyup", function () {
            var searchValue = this.value.toLowerCase();
            var tableRows = document.querySelectorAll("#userTable tbody tr");

            tableRows.forEach(row => {
                var rowText = row.innerText.toLowerCase();
                if (rowText.includes(searchValue)) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            });
        });
    </script>
{% endblock %}
